*{
    margin: 0;
    padding: 0;
}
.bd{
    border: solid 1px red;
}
.top01{
    border-top: solid 2px orangered;
    height: 280px;
    width: 180px;
    margin-top: 8px;
    /* padding: 8px; */
}
.top02{
    border-top: solid 2px orangered;
    height: 170px;
    width: 180px;
    margin-top: 8px;
    /* padding: 8px; */
}
.top03{
    border-top: solid 2px orangered;
    height: 100%;
    width: 200px;
    margin-top: 8px;
    /* padding: 5px; */
}
.top04{
    border-top: solid 2px orangered;
    height: 400px;
    width: 190px;
    margin-top: 8px;
    padding: 5px;
}
.test:hover .UL_menu{
   display: block;
   position: absolute;
}
.test:hover .UL_menu-1{
   display: flex;
   position: absolute;
}
.row-1{
    width: 100%;
    height: 120px;
    background:linear-gradient(to right, skyblue,#0059ff,blue);
}
.top05:hover .subUL{
display: block;
position: absolute;
left: 180px;
}


/* responsive */
@media screen and (min-width:400px) and (max-width:1000px) {
    .menu{
        display: none;
    } .menu-1{
        margin-left: 80px;
    }
    .menu-3{
        margin-left: 100px;
    }
    .top{
        
        padding: 10px;
        color: wheat;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 5px;
    }
    .top:focus+.top-1{
        display: block;
    }
    .top-1{
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 70%;

    }
    .top-1 li{
        border: solid 1px #d1b7b7;
        padding: 10px;
    }
    .test:focus .UL_menu{
        display: block;
    }
    .top01{
        width: 100%;
        height: 100%;
    }
    .top02{
        height: 280px;
    }
    .top03{
        width: 100%;
        height: 100%;
    }
    .top04{
        width: 100%;
        height: 100%;
    }
    .item01 img{
        width: 100%;
    }
    .item03{
        width: 100%;
        height: 100%;
        margin-top: 15px;
    }
    .row-1{
        width: 100%;
        height: 180px;
        background:linear-gradient(to right, skyblue,#0059ff,blue);
    }
   
}